# Project exclude paths
/frontend/node_modules/
backend/.env
/backend/node_modules
backend/package-lock.json
frontend/.env
frontend/package-lock.json
/frontend/build
frontend/package-lock.json
frontend/package-lock.json
